.center{
    text-align: center;
    color:rgb(19, 8, 175);
    font-family: fantasy;
    font-size: 150;
    
}

img {
    margin-left: 300px;
    width: 1500px;
    height: 250px;
    
       
}

.p {
    font-size: 25px;
}

.gameplay{
    text-align: center;
    color: rgb(19, 6, 207);
}

.youtube{
    margin-left: 665px;
    width: 600px;
}

body{
    background-color: rgb(230, 222, 225);
}