*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

.col-sm-8 {
    font-family: 'Times New Roman', Times, serif;
    border: solid;
    border-color: rgb(9, 153, 98);
    padding: 5px;
    text-align: center;
    height: 500px;
    
}

